extends layout

block content
  h1= title
  body
    div(class="remove-float center-block text-center big-top-space")
      p Agregar un producto
      form(action="/addProduct" method="GET")
        div
          input(style="color:#000000" type="submit" value="Agregar producto" class="btn btn-info top-botton-space")
      p Modificar un producto
      form(action="/modifyProduct" method="GET")
        div
          input(style="color:#000000" type="submit" value="Modificar producto" class="btn btn-info top-botton-space")
      p Eliminar un producto
      form(action="/removeProduct" method="GET")
        div
          input(style="color:#000000" type="submit" value="Eliminar producto" class="btn btn-info top-botton-space")
        