doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    div(class="remove-float center-block text-center big-top-space")
      .fondo
        block content
