extends layout

block content
  h1= title
  body
    form(action="/resultModify" method="GET")
      div(class="form-group")
        label(for="NameProduct") Nombre del producto a modificar
        input(type="text" name="NameProduct" placeholder="Nombre del producto a modificar" id="NameProduct" class="form-control")
      div(class="form-group")
        label(for="newNameProduct") Nuevo nombre del producto 
        input(type="text" name="newNameProduct" placeholder="Nuevo nombre del producto" id="newNameProduct" class="form-control")
      div(class="form-group")
        label(for="newDescriptionProduct") Nueva descripcion del producto 
        input(type="text" name="newDescriptionProduct" placeholder="Nueva descripcion del producto" id="newDescriptionProduct" class="form-control")
      div(class="form-group")
        label(for="newCostProduct") Nuevo precio del producto 
        input(type="text" name="newCostProduct" placeholder="Nuevo precio del producto" id="newCostProduct" class="form-control")
      div
        input(type="submit" value="Modificar" class="btn btn-info")