extends layout

block content
  h1= title
  body
    div(class="col-md-6 remove-float center-block big-top-space text-left")
      form(action="/resultModify" method="POST")
        div(class="form-group")
          label(for="nameProduct") Nombre del producto a modificar
          input(type="text" name="nameProduct" placeholder="Nombre del producto a modificar" id="nameProduct" class="form-control")
        div(class="form-group")
          label(for="newNameProduct") Nuevo nombre del producto 
          input(type="text" name="newNameProduct" placeholder="Nuevo nombre del producto" id="newNameProduct" class="form-control")
        div(class="form-group")
          label(for="newDescriptionProduct") Nueva descripcion del producto 
          input(type="text" name="newDescriptionProduct" placeholder="Nueva descripcion del producto" id="newDescriptionProduct" class="form-control")
        div(class="form-group")
          label(for="newCostProduct") Nuevo precio del producto 
          input(type="text" name="newCostProduct" placeholder="Nuevo precio del producto" id="newCostProduct" class="form-control")
        div(class="row top-space")
          div(class="col-sm-6")
            input(style="color:#000000" type="submit" value="Modificar" class="btn btn-info top-botton-space left-space")
          div(class="col-sm-6 text-right")
            input(style="color:#000000" type="button" onclick="location.href='/'" value="Atras" class="btn btn-info top-botton-space left-space")