extends layout

block content
  h1= title
  body
    form(action="/resultRemove" method="POST")
      div(class="form-group")
        label(for="nameProduct") Nombre del producto 
        input(type="text" name="nameProduct" placeholder="Nombre del producto" id="nameProduct" class="form-control")
        div(class="top-space")
        input(type="submit" value="Buscar y eliminar" class="btn btn-info")
    form(action="/" method="GET")
      div(class="top-space")
        input(type="submit" value="Atras" class="btn btn-info")