extends layout

block content
  h1= title
  body
    div(class="col-md-6 remove-float center-block big-top-space text-left")
      form(action="/resultRemove" method="POST")
        div(class="form-group")
          label(for="nameProduct") Nombre del producto 
          input(type="text" name="nameProduct" placeholder="Nombre del producto" id="nameProduct" class="form-control")
        div(class= "row top-botton-space")  
          div(class="col-sm-6")
            input(style="color:#000000" type="submit" value="Buscar y eliminar" class="btn btn-info top-botton-space")
          div(class="col-sm-6 text-right")
            input(style="color:#000000" type="button" onclick="location.href='/'" value="Atras" class="btn btn-info top-botton-space left-space")