extends layout

block content
  h2= titleError
  h3= titleCorrect
  body
    form(action="/" method="GET")
      div(class="top-space")
        input(type="submit" value="Volver al inicio" class="btn btn-info")