body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #040000;
}

h1 {
	text-decoration: underline;
	color: #A6FF00;
	font:  100px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	text-decoration: underline;
	color: #B60606;
	font:  50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3 {
	text-decoration: underline;
	color: #A6FF00;
	font:  50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label {
	color: #FFFFFF;
}

a {
  color: #00B7FF;
}

p {
  font-size: 18px;
  color: #FFFFFF;
}

.fondo{
  	background-image: url("/images/background.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 1366px 768px ;
}

.top-botton-space{
	margin-top: 10px;
	margin-bottom: 10px;
}

.right-space{
	margin-right: 1em;
}

.left-space{
	margin-left: 1em;
}

.remove-float{
	float: none;
}

.big-top-space{
	margin-top: 100px; 
}
